h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: 30px;
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border-color: red;
    border-width: 3px;
}